<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>{% block title%}{% endblock %}</title>
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken(
            'csrftoken'
        );
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" href="static/img/lologo.png" type="image/icon type">
</head>

<body>

    <!--===== HEADER =====-->
    <header class="l-header" id="header">
        <nav class="nav bd-grid">
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bxs-grid'></i>
            </div>

            <a href="/" class="nav__logo">TBW</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="/#featured" class="nav__link">Featured</a></li>
                    <li class="nav__item"><a href="/#women" class="nav__link">#Trending</a></li>
                    <li class="nav__item"><a href="/#new" class="nav__link">New</a></li>
                    <li class="nav__item"><a href="./shop" class="nav__link">Shop</a></li>
                    <li class="nav__item"><a href="./about" class="nav__link">About</a></li>
                </ul>
            </div>

            <div class="nav__shop">
                {% if request.user.is_authenticated %}
                <a href = {% url 'cart' %} class='bx bx-shopping-bag'>{{order.get_cart_items}}</a>
                    <!-- <a style= "font-size:18px;" href= {% url 'logout' %} class="nav__link">{{request.user.username}}</a> -->
                    <div class="dropdown">
                        <button class="dropbtn">Hi, {{request.user.username}}</button>
                        <div class="dropdown-content">
                          <a style="font-size: 14px" href= {% url 'logout' %} >Logout</a>
                          <a style="font-size: 14px" href="/">My orders</a>                                    <!-- Add the link to user's profile page. -->
                        </div>
                      </div>
                {% else %}
                    <a href={% url 'cart' %} class='bx bx-shopping-bag'>{{order.get_cart_items}}</a>
                    <a href="./login"><i class='bx bx-user-circle'></i></a>
                {% endif %}
            </div>

            <!-- <div class="nav__shop"></div> -->
        </nav>
    </header>

        {% block content %}
        
        {% endblock %}

    <!--===== FOOTER =====-->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">Urvi Dama</h3>
                <p class="footer__description">The Blessed Wardrobe</p>
                <h3 class="footer__title">Contact Us</h3>
                <p class="footer__description">support@labeltbw.com</p>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
                <ul>
                    <li><a href="/" class="footer__link">Home</a></li>
                    <li><a href="/#featured" class="footer__link">Featured</a></li>
                    <li><a href="/#women" class="footer__link">#Trending</a></li>
                    <li><a href="/#new" class="footer__link">New</a></li>
                    <li><a href="./shop" class="footer__link">Shop</a></li>

                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">SUPPORT</h3>
                <ul>
                    <li><a href = {% url "terms" %} class="footer__link">Terms and Conditions</a></li>
                    <li><a href= {% url "privacy" %} class="footer__link">Privacy Policy</a></li>
                    <li><a href= {% url "cancel" %} class="footer__link">Refund and Shipping</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <a href="https://www.facebook.com/tbwbyurvidama/" target = "_blank" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.instagram.com/tbwbyurvidama/?igshid=1g4ckzbhpnc6l" target = "_blank" class="footer__social"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
        <p class="footer__copy">&#169; 2021 TBW by Urvi Dama. All right reserved</p>
    </footer>

    <!--===== MAIN JS =====-->
    <script src="/static/js/main.js"></script>

</body>

</html>
