<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="icon" href="static/img/lologo.png" type="image/icon type">
</head>

<style>
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    @media only screen and (min-width: 600px) {

        ul {
            max-width: 60%;
        }

        hr {
            max-width: 60%;
        }

        p {
            max-width: 60%;
        }
    }

    p {
        line-height: 2rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
</style>

<body>
    <h1 style="text-align:center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        SHIPPING &
        REFUND POLICY</h1>

    <hr size="3" width="90%" color="black">
    <p><strong>HOW DO I KNOW IF AN ITEM IS ELIGIBLE FOR RETURN?</strong></p>
    <p>Most of our items can be returned/exchanged for a new product or store credit or your bank credit. For products
        that can be
        exchanged,
        we adopt a 3-DAY FREE RETURN / EXCHANGE policy as long as the returned
        products are unused, unwashed, and returned with all original packaging and tags. Do
        note, free gifts/products won or received in promotional offers, and products purchased on Sale
        cannot be returned or exchanged.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>WHAT ABOUT MY MONEY?</strong></p>
    <p>You will get a credit voucher for the whole amount you paid which is valid for 1 year or we will refund the
        amount into your bank account.</p>


    <hr size="1" width="90%" color="black">
    <p><strong>WHAT IF I RECEIVE A DAMAGED / DEFECTIVE /WRONG PRODUCT?</strong></p>
    <p>We Quality Control all our shipping and packaging processes, but in rare circumstances,
        if you do receive a damaged, defective/wrong product or an incomplete order, simply get
        in touch with us within 24 to 48 hours of receiving your order with pictures at
        support@labeltbw.com and we will take care of the rest.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>DO YOU HAVE A REVERSE PICKUP SERVICE?</strong></p>
    <p>Yes, we have one time free reverse-pickup service. We will arrange for a representative
        of the courier company to pick up the product from you in 15 working days. Please
        keep the parcel ready and packaged as you have received it with all the tags and original
        packing intact and enclose a copy of the bill or a paper with your order number. In case
        your pin code is not serviceable by our team, you will need to courier the product back
        to us at your own cost and we will be sure to reimburse an additional Rs.100 in the form
        of store credit.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>WHAT IS THE PROCESS TO RETURN A PRODUCT?</strong></p>
    <p>Contact our customer Service Team at support@labeltbw.com and we will initiate the process.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>HOW LONG WILL IT TAKE TO PROCESS MY RETURN?</strong></p>
    <p>It will take 15 to 25 working days for you to receive a replacement or store credit or credit directly into your
        bank account.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>IS THERE AN ADDITIONAL SHIPPING CHARGE?</strong></p>
    <p>You will need to pay Customs Duty as per the duty structure of the country you reside in.
        Customs Duty will be on actual, and you will need to pay the Customs Duty at the time
        of accepting the order.</p>

    <hr size="1" width="90%" color="black">
    <p><strong>HOW LONG WILL IT TAKE FOR MY ORDER TO REACH ME?</strong></p>
    <p>This depends on the products ordered. Some products are on Pre-order so please expect a
        short delay in the dispatch of these products. The relevant product page will have these
        details mentioned. Please allow us 2 - 7 working days for the courier to be delivered
        once shipped.</p>
</body>

</html>