<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="/static/assets/css/styles.css">    
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>TBW-SHOP</title>
    <!-- <script src="/static/js/main.js"></script> -->
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken(
            'csrftoken'
        );
    </script>
    <link rel="icon" href="static/img/lologo.png" type="image/icon type">
</head>

<body>

    <!--===== HEADER =====-->
    <header class="l-header" id="header">
        <nav class="nav bd-grid">
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bxs-grid'></i>
            </div>

            <a href="/" class="nav__logo">Urvi Dama</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="/#featured" class="nav__link">Featured</a></li>
                    <li class="nav__item"><a href="/#women" class="nav__link">#Trending</a></li>
                    <li class="nav__item"><a href="/#new" class="nav__link">New</a></li>
                    <li class="nav__item"><a href = {% url 'shop' %} class="nav__link">Shop</a></li>
                </ul>
            </div>

            <div class="nav__shop">
                {% if request.user.is_authenticated %}
                <a href = {% url 'cart' %} class='bx bx-shopping-bag'>{{order.get_cart_items}}</a>
                    <!-- <a style= "font-size:18px;" href= {% url 'logout' %} class="nav__link">{{request.user.username}}</a> -->
                    <div class="dropdown">
                        <button class="dropbtn">Hi, {{request.user.username}}</button>
                        <div class="dropdown-content">
                          <a style="font-size: 14px" href= {% url 'logout' %} >Logout</a>
                          <a style="font-size: 14px" href="/">My orders</a>                                    <!-- Add the link to user's profile page. -->
                        </div>
                      </div>
                {% else %}
                    <a href={% url 'cart' %} class='bx bx-shopping-bag'>{{order.get_cart_items}}</a>
                    <a href= {% url 'login' %} ><i class='bx bx-user-circle'></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="l-main">
        <div class="product-images">
            <div class = "product-imgs">
                <div class = "img-display">
                  <div class = "img-showcase">
                    <img src = "/static/assets/img/x1-min.jpg" alt = "shoe image">
                    <img src = "/static/assets/img/x2-min.jpg" alt = "shoe image">
                    <img src = "/static/assets/img/x3-min.jpg" alt = "shoe image">
                    <img src = "/static/assets/img/x4-min.jpg" alt = "shoe image">
                  </div>
                </div>
                <div class = "img-select">
                  <div class = "img-item">
                    <a href = "#" data-id = "1">
                        <img src = "/static/assets/img/x1-min.jpg" alt = "shoe image">
                    </a>
                  </div>
                  <div class = "img-item">
                    <a href = "#" data-id = "2">
                        <img src = "/static/assets/img/x2-min.jpg" alt = "shoe image">
                    </a>
                  </div>
                  <div class = "img-item">
                    <a href = "#" data-id = "3">
                        <img src = "/static/assets/img/x3-min.jpg" alt = "shoe image">
                    </a>
                  </div>
                  <div class = "img-item">
                    <a href = "#" data-id = "4">
                        <img src = "/static/assets/img/x4-min.jpg" alt = "shoe image">
                    </a>
                  </div>
                </div>
              </div>
        </div>
        <div class="wrapper full-screen product-description">
            <h2>The Test Product</h2>
            <p>
                <small class="sale__productdes">SALE</small>
                <span class="sale__productprice">₹2999</span>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quasi excepturi maxime,
                soluta
                similique numquam dolorum vel voluptatibus! Fugiat cum nemo aspernatur quam nisi quaerat suscipit
                tempore quidem cumque rerum!</p>
            <div class="variations__color">
                <h4>COLOR</h4>
                <label for="" class="product-color">
                    <input type="radio" name="color" checked id="">
                    <span></span>
                </label>
                <label for="" class="product-color">
                    <input type="radio" name="color" id="">
                    <span></span>
                </label>
                <label for="" class="product-color">
                    <input type="radio" name="color" id="">
                    <span></span>
                </label>
                <label for="" class="product-color">
                    <input type="radio" name="color" id="">
                    <span></span>
                </label>
            </div>
            <div class="variations__size">
                <h4>SIZE</h4>
                <label for="" class="product-size">
                    S<input type="radio" name="size" checked id="">
                    <span></span>
                </label>
                <label for="" class="product-size">
                    M<input type="radio" name="size" id="">
                    <span></span>
                </label>
                <label for="" class="product-size">
                    L<input type="radio" name="size" id="">
                    <span></span>
                </label>
                <label for="" class="product-size">
                    XL<input type="radio" name="size" id="">
                    <span></span>
                </label>
            </div>
            </p>

            <div class="product-action-button">
                <div class="tocart-control">
                    <a data-product='{{id}}' data-action="add" href="#" class="preci__button update-cart">ADD TO CART</a>
                </div>
            </div>
        </div>

        <section class="long-des">
            <div class="wrapper">
                <div class="long-des">
                    <h4>Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt atque ipsa aspernatur,
                        expedita obcaecati quis vitae porro labore. Ratione consequatur accusantium eaque corrupti iusto
                        quam ducimus deserunt ab voluptas, aliquam aspernatur, fugiat adipisci, aut vero asperiores
                        possimus. Cupiditate, tenetur!</p>
                </div>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">Urvi Dama</h3>
                <p class="footer__description">The Blessed Wardrobe</p>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
                <ul>
                    <li><a href="/" class="footer__link">Home</a></li>
                    <li><a href="/#featured" class="footer__link">Featured</a></li>
                    <li><a href="/#women" class="footer__link">#Trending</a></li>
                    <li><a href="/#new" class="footer__link">New</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <h3 class="footer__title">SUPPORT</h3>
                <ul>
                    <li><a href="#" class="footer__link">Product Help</a></li>
                    <li><a href="#" class="footer__link">Customer Care</a></li>
                    <li><a href="#" class="footer__link">Athorized service</a></li>
                </ul>
            </div>

            <div class="footer__box">
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-google'></i></a>
            </div>
        </div>
        <p class="footer__copy">&#169; 2020 TBW by Urvi Dama. All right reserved</p>
    </footer>
    <!--===== MAIN JS =====-->
    <!-- <script src="/static/assets/js/main.js"></script> -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        let galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        let galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },
            thumbs: {
                swiper: galleryThumbs
            }
        });
    </script>
    <script src="/static/js/product.js"></script>

</body>

</html>