<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="icon" href="static/img/lologo.png" type="image/icon type">
</head>

<style>
    @media only screen and (min-width: 600px) {
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        ul {
            max-width: 60%;
        }

        hr {
            max-width: 60%;
        }

        p {
            max-width: 60%;
        }
    }

    p {
        line-height: 2rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
</style>

<body>
    <h1 style="text-align:center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">TERMS &
        CONDITIONS</h1>
    <hr size="3" width="90%" color="black">

    <p>1.1. These Terms & Conditions apply to products purchased via WWW.LABELTBW.COM, placed through Social Media, or
        offline on phone or chat.
    </p>

    <p>
        1.2. PLEASE READ THE TERMS & CONDITIONS CAREFULLY BEFORE PURCHASING ANY PRODUCTS OR AVAILING ANY SERVICES ON ANY
        ASSET OF THE BLESSED WARDROBE. ANY PURCHASE MADE BY YOU THROUGH THE WEBSITE OR THROUGH ANY OTHER ASSET SHALL
        SIGNIFY YOUR ACCEPTANCE OF THE SUPPLY TERMS AND YOUR AGREEMENT TO BE LEGALLY BOUND BY THE SAME. IN ADDITION TO
        THE FOREGOING, YOU SHALL ALSO BE BOUND BY THE TERMS OF USE OF THE WEBSITE, PRIVACY POLICY, TERMS BY THE VENDOR
        OR ADDITIONAL TERMS OF SERVICE WHICH ARE DISPLAYED WITH THE SELECTION OF THE PRODUCT, IF ANY ("ADDITIONAL
        TERMS"). IF THERE IS ANY CONFLICT BETWEEN THE SUPPLY TERMS AND THE ADDITIONAL TERMS, THE ADDITIONAL TERMS SHALL
        TAKE PRECEDENCE IN RELATION TO THAT SALE.
    </p>

    <p>
        1.3. IF YOU DO NOT AGREE WITH THE SUPPLY TERMS, PLEASE DO NOT ACCESS THE WEBSITE OR ANY OTHER ASSET OF THE
        BLESSED WARDROBE FOR ANY PURCHASE OR SERVICE.
    </p>
    <hr size="3" width="90%" color="grey">
    <p><strong>2. Business</strong></p>

    <p>
        2.1. The websites are a platform that facilitates the online sale and purchase of merchandise and services
        ("Services") offered by third party vendors and service providers ("Vendor/s"). Title to the merchandise
        (“Products”) will pass directly from the Vendors to you.</p>
    <p>
        2.2. labeltbw.com has the right to change or discontinue any service at any time, without notice. labeltbw.com
        may add or modify the procedures, modes, processes or conditions of purchase at any time. labeltbw.com shall not
        be liable to you or to any third party for any modification, suspension or discontinuance of any aspect of the
        services.
    </p>

    <hr size="3" width="90%" color="grey">
    <p><strong>3. Product</strong></p>
    <p>3.1. labeltbw.com enables the sale of a variety of products. Shipping for all the products on the website shall
        be per the company's policy, which may be changed by labeltbw.com from time to time.</p>
    <p>3.2. In case you receive a damaged product, please get in touch with our Customer Care Team on
        support@labeltbw.com.
        Damage will be assessed and a solution will be offered. The product may be
        replaced or other corrective measure may be taken to address the issue.</p>
    <p>3.3. Incase the product is out of stock, our Customer Care Team will get in touch with you and a refund request
        will be raised. For paid orders the refund will be processed directly into your debit/credit card or online
        account. The money will reflect on your card or in your bank account within 7 to 21 working days from when the
        refund request was raised. For Cash On Delivery (COD) payments, there will be no refund given as no payment was
        received by us.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>4. Services</strong></p>
    <p>4.1. You should take all responsibility for your own actions in utilizing the products purchased by you;
        labeltbw.com shall not be liable for any such action.</p>
    <p>4.2. You represent that you are of legal age to form a binding contract and are not a person barred from
        receiving services under the laws as applicable in India.</p>
    <p>4.3. labeltbw.com shall not be responsible for any deficiency in payment of consideration payable towards the
        products purchased on the website.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>5. Pricing Information</strong></p>
    <p>5.1. The pricing information relating to the product shall be as disclosed to you at the time of your purchase.
    </p>
    <p>5.2. labeltbw.com does not guarantee that the price will be the lowest in the city, region or geography. Prices
        and availability are subject to change without notice or any consequential liability to you.</p>
    <p>5.3. While labeltbw.com strives to provide accurate information relating to products, services including pricing
        information, typographical and other errors may occur. In the event that a product or service is listed with
        incorrect price or with incorrect information due to an error, labeltbw.com may, at its discretion, weither
        contact you for instructions or cancel your order and notify you of such cancellation. labeltbw.com will have
        the right to modify the price of the product and contact you for further instructions via the e-mail address
        provided by you at the time of registration, or cancel the order and notify you of such cancellation. If
        labeltbw.com cancels the order after the payment has been processed, the entire amount will be remitted to your
        account from which the payment was made.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>6. Credit Card Details</strong></p>
    <p>You might be required to provide your credit or debit card details to the approved payment gateways while making
        the payment. In this regard you agree to provide correct and accurate credit/debit card details to the approved
        payment gateways for availing services on the website. You shall not use the credit/debit card that is not
        lawfully owned by you. The information provided by you will not be utilized or shared with any third party
        unless required in relation to fraud verifications or by law, regulation or court order. You will be solely
        responsible for the security and confidentiality of your credit/debit card details.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>7. Delivery of the Product</strong></p>
    <p>Your shipping address and pin code will be verified with the database of labeltbw.com before you proceed to pay
        for your purchase. If your order is not serviceable by delivery partners, vendors, or your location is not
        covered by us, we would request you to provide us with an alternate shipping address which we expect to have on
        our delivery partner’s/vendor’s delivery list. If there is any dispute regarding the shipment of the products or
        services for the area not covered by labeltbw.con, we will not be held responsible for the non-delivery of the
        product. In case you book multiple orders for the products and services in one transaction, efforts will be made
        to ship all products together. However, this may not always be possible.</p>
    <p></p>

    <hr size="3" width="90%" color="grey">
    <p><strong>8. Return Policy for Products</strong></p>
    <p>8.1. If you receive a damaged/defective product or a product that does not comply with the specifications as per
        your original order, please get in touch with our Customer Care Team.</p>
    <p>8.2. Upon receiving your complaint, labeltbw.com shall verify the authenticity and the nature of the complaint
        and if we are convinced that the complaint is genuine, we will inform the relevant vendor of said complaint and
        request for a replacement. If the complaint is frivolous or baseless, we reserve the right to take legal actions
        against you and you will be solely liable for all costs incurred by labeltbw.com in this regard.</p>
    <p>8.3. In order to return any products, you are required to comply with the below mentioned conditions, viz: <br>•
        Please notify labeltbw.com of receipt of a/an international/damaged/ defective product/service within 48 of your
        order reaching you. If you are unable to do so within 48 hours, the vendor shall not be held liable for the
        failure to replace the order. For all other instances you can notify us 15 days from when the product is
        delivered to you. <br>• Products should be unused/unwashed. <br>• labeltbw.com will arrange a pick-up of all
        products
        except for <strong>international orders and sale orders</strong>. If labeltbw.com is unable to do so, we will
        notify you regarding the same and
        you will be required to dispatch the product using a reputed courier in your respective area within one (1) day
        from receipt of such notice. Courier freight charges will be reimbursed in such a form as is determined by the
        logistics team upon prior consultation with THE BLESSED WARDROBE.<br>• Products should be returned in their
        original
        packaging along with the original price tags, labels, barcodes, user manual, warranty card and invoices etc.
        <br>•
        It is advised that the return packets should be strongly and adequately packaged so that there is no further
        damage to products during transit.<br>• The returned products are subject to verification and checks by
        labeltbw.com in order to determine the legitimacy of the complaint/return. If the claim is not legitimate, you
        will be required to bear the shipping costs for the product. These conditions will not apply to products where
        the defects could not, using reasonable diligence, be discovered, at the time of delivery.
    </p>
    <p>8.4. If a product returned is duly accepted by labeltbw.com, the value of said product, as originally paid by you
        will be refunded in the form of a store credit/voucher or in your bank account. If the product can be repaired
        by the service center,
        labetbw.com would get the same repaired and send it back to you. A promo code, once used shall not be
        refunded in case of cancellation of order.</p>
    <p>8.5. No Compensation Policy: If the quality of any products, services, information, or other material purchased
        or obtained by you through the website did not meet your expectations, no compensation will be given other than
        the return, credit voucher or exchange of the product. The customer cannot request compensation for any reason,
        including but not limited to: any variation in the finish or appearance of the final product; any delay in
        delivery caused by unforeseen circumstances; any special, incidental, indirect or consequential damage of any
        kind caused by a product; missed opportunities to avail certain discounts; any issue with our delivery partners
        or their personnel; any voucher which got deactivated due to the end of expiry date; unavailability of items
        which the customer tried to purchase etc. Unreasonable and unlawful requests for compensation, over and above
        the entitled refund, will be treated as loss to business cases. labeltbw.com holds the rights to cancel orders
        and block accounts of such customers without any prior notice.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>9. Shipping, Delivery and Cancellation</strong></p>
    <p>Please see terms relating to shipping, delivery and cancellation on the website.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>10. Warranties and Claims</strong></p>
    <p>Please note the standard warranties and the conditions for usage of the products in relation to each product. No
        claim (a) that is contrary to the above or (b) where products have been used contrary to the conditions of
        usage; will be entertained.</p>

    <hr size="3" width="90%" color="grey">
    <p><strong>11. Governing Law</strong></p>
    <p>11.1. These Terms & Conditions and the relationship between you and THE BLESSED WARDROBE shall be governed in
        accordance with the laws of India without reference to conflict of laws principles.</p>
    <p>11.2. All claims, differences and disputes arising under or in connection with or in relation to the Terms &
        Conditions or any transactions entered into on or through the website or the relationship between you . Private
        Limited shall be subject to the exclusive jurisdiction of the courts at MUMBAI , MAHARASTRA and you hereby accede to
        and accept the jurisdiction of such courts.</p>
</body>

</html>